
.pic {
    background: url(../media/accountPic.png);
    height: 23%;
    width: 11%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;     
}

.Tcd {
    background: url(../media/tcd.jpg);
    height: 86%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;     
}


