@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    width: 200px;
    border-radius: 3px;
  }
  g {
    width: 100px;
    border: 5px solid blue;
  }

  .Login form {
    margin: 0 auto;
    max-width: 100px;
    max-height: 30px;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 250px;
  }
}
